body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
}
.cover {
    width: 470px;
    height: 700px;
    background: url("back.png") no-repeat center/cover;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    padding: 20px 30px;
    color: #000;
    margin-top:0px;
    margin-bottom:100px;
}
hr
{
    border:1px solid;
    color: black;
}
.highlight
{
background-color: lightgray;
}
.about
{
    padding: 15px;
}
.thought
{
margin-top: 250px;
margin-left: 15px;
margin-right:15px;
padding: 3px;
padding-right:15px;
padding-left: 15px;
border-left: 5px solid lightskyblue;
border-right: 5px solid lightblue;
border-bottom: 5px solid lightblue;
border-top: 5px solid lightblue;
display: flex;
background-color:lightcyan;
font:Arial
}
.item
{
display: flex; 
margin-left:15px;
margin-right:15px;
margin-top:15px;
background-color: lightyellow;
padding: 10px;
}
.item img
{
    width:100px;
    height:120px;
}
.words
{
    padding-left: 20px;
    
}
.author h3
{
    color: lightcoral;
    margin-top:5px;
    padding-left:60px;   
}
.footer
{
    margin-top: 80px;
    display: flex;
    background-color: lightgoldenrodyellow;
    color:chocolate;
    padding:5px;
    justify-content: space-between;
    border-radius: 5px;
    margin-left:15px;
    margin-right:15px;
    text-align: left;
}


.publishers
{
    color: lightpink;
    text-align: left;
}
.location
{ 
    text-align:center
    
}

.price
{
    color:black;
}

